<!DOCTYPE html>
{% load staticfiles %}
<html lang="rus">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>QuckDiscount</title>

        <!-- Bootstrap core CSS -->

        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha256-Av2lUNJFz7FqxLquvIFyxyCQA/VHUFna3onVy+5jUBM= sha512-zyqATyziDoUzMiMR8EAD3c5Ye55I2V3K7GcmJDHbL49cXzFQCEA6flSKqxEzwxXqq73/M4A0jKFFJ/ysEhbExQ==" crossorigin="anonymous">
        <link href={% static "style.css" %} rel="stylesheet" type="text/css">
        <!-- Custom styles for this template -->
        <link href="jumbotron-narrow.css" rel="stylesheet" type="text/css">

        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="container">
            <div class="header">
            <ul class="nav nav-pills pull-right">
              {% if user.is_authenticated %}
                  {% if user.discountuser.status == 'stuff' %}
                      <li><a href="/myshops">Мои магазины</a></li>
                      <li><a href="/mysubscripthons">Мои подписки</a></li>
                      <li><a href="/shops">Все магазины</a></li>
                      <li><a href="/add_shop">Добавить магазин</a></li>
                      <li><a href="/logout">Выйти ({{ user.username }})</a></li>
                  {% elif user.discountuser.status == 'сustomer' %}
                      <li><a href="/mysubscripthons">Мои подписки</a></li>
                      <li><a href="/shops">Магазины</a></li>
                      <li><a href="/logout">Выйти ({{ user.username }})</a></li>
                  {% endif %}
              {% else %}
                  <li><a href="/shops">Все магазины</a></li>
                  <li><a href="/login">Войти</a></li>
                  <li><a href="/sign_up">Регистрация</a></li>
              {% endif %}
            </ul>
            <h3 class="text-muted"><a href="/">QuckDiscount</a></h3>
            </div>

            {% block stocks %}{% endblock %}
            {% block registration %}{% endblock %}
            {% block shops %}{% endblock %}
            {% block form %}{% endblock %}

        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </body>
</html>