{% extends 'Discount/base.html' %}
{% load widget_tweaks %}

{% block form %}

    <div class="row">
        <div class="col-md-6 padding-bottom">
            <h2>Изменить логотип</h2>
        </div>
    </div>
    <div class="row" id="reg">
        <div class="col-md-5 padding-bottom">
            <form role="form" action="/change_logo/{{ shop.id }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Логотип</label>
                    {% render_field form.image id="exampleInputEmail1" %}
                    {% if form.image.errors %}
                        <div class="errors">{{ form.image.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-sm">Изменить</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}