{% extends 'Discount/base.html' %}
{% load widget_tweaks %}

{% block form %}

    <div class="row">
        <div class="col-md-6 padding-bottom">
            <h2>Изменить акцию</h2>
        </div>
    </div>
    <div class="row padding-bottom" id="reg">
        <div class="col-md-5 padding-bottom">
            <form role="form" action="/change_stock/{{ stock.id }}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Заголовок</label>
                    {% render_field form.exposition class="form-control" id="exampleInputEmail1" placeholder="Введите заголовок акции" value=stock.exposition %}
                    {% if form.exposition.errors %}
                        <div class="errors">{{ form.exposition.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Описание</label>
                    {% render_field form.description class="form-control" id="exampleInputEmail1" placeholder="Введите описание акции" %}
                    {% if form.description.errors %}
                        <div class="errors">{{ form.description.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Сроки проведения</label>
                    {% render_field form.terms class="form-control" id="exampleInputEmail1" placeholder="Введите сроки проведения" value=stock.terms %}
                    {% if form.terms.errors %}
                        <div class="errors">{{ form.terms.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-sm">Сохранить</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}