{% extends 'Discount/base.html' %}
{% load staticfiles %}
{% block shops %}

    <div class="row padding-bottom" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-12">
            <h2>Мои магазины</h2>
            <a href="/add_shop"><button class="btn btn-info btn-sm">Добавить магазин</button></a>
        </div>
    </div>

    <div class="row padding-bottom">
        {% for shop in shops reversed %}
            <div class="col-md-4">
                {% if shop.image %}
                    <img src="{{ shop.image.url }}" class="img img-responsive">
                {% else %}
                    <img src="{% static "no_image.png" %}" class="img img-responsive">
                {% endif %}
                <h3>{{ shop.name }}</h3>
                <h5>Категория: {{ shop.category }}</h5>
                {% if user.is_authenticated %}
                    {% if shop.seller_id == user.id %}
                        <a href="/add_stock/{{ shop.id }}"><button class="btn btn-info btn-sm">Добавить акцию</button></a>
                        <a href="shop/{{ shop.id }}"><button class="btn btn-info btn-sm">Перейти к акциям</button></a>
                    {% endif %}
                {% else%}
                    <a href="shop/{{ shop.id }}"><button class="btn btn-info btn-sm">Перейти к акциям</button></a>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}