{% extends 'Discount/base.html' %}
{% load staticfiles %}

{% block stocks %}

    <div class="row padding-bottom">
        <div class="col-md-12">
            <h2>Акции магазина "{{ shop.name }}"</h2>
        </div>
    </div>

    <div class="row padding-bottom">
        <div class="col-md-6">
            {% for stock in stocks reversed %}
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{ stock.exposition }}</h3>
                        <h5>{{ stock.description }}</h5>
                        <br>
                        <h6><i>{{ stock.terms }}</i></h6>
                        {% if shop.seller_id == user.id %}
                            <a href="/change_stock/{{ stock.id }}"><button class="btn btn-info btn-sm">Изменить акцию</button></a>
                            <a href="/delete_stock/{{ stock.id }}"><button class="btn btn-danger btn-sm">Удалить акцию</button></a>
                        {% endif %}
                        <hr>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3 col-md-offset-3">
            {% if shop.image %}
                <img src="{{ shop.image.url }}" class="img img-responsive">
            {% else %}
                <img src="{% static "no_image.png" %}" class="img img-responsive">
            {% endif %}
            <h2>{{ shop.name }}</h2>
            <h5>{{ shop.category }}</h5>
            {% if shop.seller_id == user.id %}
                <a href="/add_stock/{{ shop.id }}"><button class="btn btn-info btn-sm">Добавить акцию</button></a>
                <a href="/change_logo/{{ shop.id }}"><button class="btn btn-warning btn-sm">Изменить логотип</button></a>
            {% elif user.is_authenticated %}
                {% if shop.id in shop_ids %}
                    <a href="/unsubscribe/{{ shop.id }}"><button class="btn btn-danger btn-sm">Отписаться</button></a>
                {% else %}
                    <a href="/subscribe/{{ shop.id }}"><button class="btn btn-danger btn-sm">Подписаться</button></a>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}